<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.lbh.pay"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--     uppay -->
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />
    <application>

        <!-- ###############     放在 Main Activity 里  ######################### -->
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->

            <!--<category android:name="android.intent.category.DEFAULT" />-->

            <!--<data android:scheme="微信  appid" />-->
        <!--</intent-filter>-->
        <!-- ###################    放在 Main Activity 里  ############################ -->


        <!-- 微信支付 begin -->
        <activity
            android:name="net.lbh.pay.PaymentActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="net.lbh.pay.PaymentActivity" />
        <!-- 微信支付 end -->


        <!-- 支付宝 begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 支付宝 end -->


        <!-- 银联支付 begin -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 银联支付 end -->


        <!-- 微信 广播 start -->
        <receiver android:name="net.lbh.pay.wxpay.AppRegister" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- 微信 广播 end -->


        <!--&lt;!&ndash; 微信支付 参数 appid， 需要替换成你自己的 &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="WXPAY_APP_ID"-->
            <!--android:value="wxf2f565574a968187" >-->
        <!--</meta-data>-->
        <!--<meta-data-->
            <!--android:name="WXPAY_MCH_ID"-->
            <!--android:value="1233848001" >-->
        <!--</meta-data>-->
        <!--<meta-data-->
            <!--android:name="WXPAY_API_KEY"-->
            <!--android:value="412fde4e9c2e2bb619514ecea142e449" >-->
        <!--</meta-data>-->
        <!--&lt;!&ndash; 微信支付 参数 end  需要替换成你自己的 &ndash;&gt;-->


        <!--&lt;!&ndash; 支付宝 参数 appid， 需要替换成你自己的 &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="ALIPAY_PARTNER_ID"-->
            <!--android:value="\02088511692735504" >-->
        <!--</meta-data>-->
        <!--<meta-data-->
            <!--android:name="ALIPAY_SELLER_ID"-->
            <!--android:value="xxxx@163.com" >-->
        <!--</meta-data>-->
        <!--<meta-data-->
            <!--android:name="ALIPAY_PRIVATE_KEY"-->
            <!--android:value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAOM5yeYxzGY2E2+6df7UEl0y+pOipHNBUEfJ4jHjCbWNH8RL+2dVEe8GN+tgJHD33Qu6VWhKvtG2dT+N9VyPepp+rBbp2QsQD34imY9O1vLVxrbVHAB9FMkXMavNwhpb5cY4r5diGv2euoo3/NwKi8X0KGCIRRD2bmLAQuOJtQVjAgMBAAECgYAf0yk3B4SEUFCalngOT++ehBRady4nQl+XHmyC5jSm6/QmDypQB7cyTiGo4tdXxy97hAaQS9+8CZ0UYLKb2zCljTj7fGxAX+XxxVl3zrt+XMwCede1YFj/ccaqDAQgRa1YNbr7O5KWCJFAufRd0DFNPgVdypg5ZnCIak6T/IUPsQJBAPsE+aT6cFIfWMyLOXEamDgDEgUJynV7dl0vxnc6AGhBEtD76ftvVGHxOK21BEkQt7wTMxAavetskTEaMplpK2sCQQDnu/TDBa8DfHfo1UTDn1+2RNlx4d88N2h1gdTApbZVxSrpGt7ViZAawL+IEyM83JoMnQ/LuPsIRplIPEobPsPpAkBgjixc+nxkCmzE2TTyPbGZsgynZXm8MQ55j9v+lo/7ijRrsMrzDYLe3cPYhY2tcUHLlXMJ2c9+FFfRFGusORkbAkEA006gsfTM0fD9pmJSgc8iB6JgZWgBl3cu2Xe5+LEiwrM3nbfS2gTGUp7QB9TrnOPL1RSjArF6tuEphKT1LkLdgQJAdPVPtzUS6itLeoHhUKhPydJ8Q8LnxJ6oIdSTXt1wZF/IUk9WPT2qdC6Jja0B7GD0tdZkf749IDkx+nzj+DsZ6A==" >-->
        <!--</meta-data>-->
        <!--<meta-data-->
            <!--android:name="ALIPAY_PUBLIC_KEY"-->
            <!--android:value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB" >-->
        <!--</meta-data>-->
        <!--&lt;!&ndash; 支付宝 参数 end  需要替换成你自己的 &ndash;&gt;-->


        <!--&lt;!&ndash; 银联 支付参数 &ndash;&gt;-->

        <!--<meta-data-->
            <!--android:name="UPPAY_PUBLICKEY_PM_MODULUS"-->
            <!--android:value="\023648629510357402173669374843546537318532861396089478651610490265597426690711092692490012429464861104676801339474220894685964389750254240882066338437712341498313076007251358899488346743554156067576120095739341094220657657611893755799646325194641430110114613586989866468748149428464174345443169749235358776080247588710246733575431530477273705811466095207773188767974550742707293785661521305267533098997705930724499157184797236612324838287379798375903922360666026664942383548006246201656190964746068225967889145661249463716565124050082767382345820178584568857820200627919768134084891356188058390460707236118612628845159" >-->
        <!--</meta-data>-->
        <!---->
        <!--<meta-data-->
            <!--android:name="UPPAY_PUBLIC_EXPONENT"-->
            <!--android:value="65537" >-->
        <!--</meta-data>-->
        <!---->
        <!--<meta-data-->
            <!--android:name="UPPAY_PUBLIC_KEY_PRODUCT_MODULUS"-->
            <!--android:value="\024882698307025187401768229621661046262584590315978248721358993520593720674589904440569546585666019820242051570504151753011145804842286060932917913063481673780509705461614953345565639235206110825500286080970112119864280897521494849627888301696007067301658192870705725665343356870712277918685009799388229000694331337917299248049043161583425309743997726880393752539043378681782404204317246630750179082094887254614603968643698185220012572776981256942180397391050384441191238689965500817914744059136226832836964600497185974686263216711646940573711995536080829974535604890076661028920284600607547181058581575296480113060083" >-->
        <!--</meta-data>-->

        <!--&lt;!&ndash; 银联 支付参数  end 需要替换成自己的 &ndash;&gt;-->

    </application>

</manifest>